.header {
    background-color: #ff4d6d;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}
.footer {
    background-color: #ff4d6d;
    color: white;
    /*
    */
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Pacifico', cursive;
}
.main-content {
    text-align: center;
    padding: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
}

button {
    background-color: #ff4d6d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #ff1a40;
}

.message {
    margin-top: 20px;
    font-size: 2rem;
    color: #ff4d6d;
}

body {
    background-color: rgb(255, 255, 255);
}

.element {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 250px;
    height: 250px;
    clip-path: path('M213.1,6.7c-32.4-14.4-73.7,0-88.1,30.6C110.6,4.9,67.5-9.5,36.9,6.7C2.8,22.9-13.4,62.4,13.5,110.9 C33.3,145.1,67.5,170.3,125,217c59.3-46.7,93.5-71.9,111.5-106.1C263.4,64.2,247.2,22.9,213.1,6.7z');
    object-fit: cover;
    margin: 0;
}